---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: wfses.pdok.nl
spec:
  group: pdok.nl
  names:
    kind: WFS
    listKind: WFSList
    plural: wfses
    singular: wfs
  scope: Namespaced
  versions:
  - name: v2beta1
    schema:
      openAPIV3Schema:
        description: WFS is the Schema for the wfs API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WFSSpec defines the desired state of WFS.
            properties:
              foo:
                description: Foo is an example field of WFS. Edit wfs_types.go to
                  remove/update
                type: string
            type: object
          status:
            description: WFSStatus defines the observed state of WFS.
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v3
    schema:
      openAPIV3Schema:
        description: WFS is the Schema for the wfs API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WFSSpec defines the desired state of WFS.
            properties:
              foo:
                description: Foo is an example field of WFS. Edit wfs_types.go to
                  remove/update
                type: string
            type: object
          status:
            description: WFSStatus defines the observed state of WFS.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
